/*
 * Comments are written as C++ style. 
 */
html {
    overflow-y: scroll;
}

body {
    margin: 8px auto;
    background: #fff;
    width: 700px;
}

element {
	text-align: center;
}

nav a {
	font-size: 24px;
	display: inline-block;
	padding: 4px;
	margin: 8px;
	border: 4px dotted aliceblue;
}

a:active{
	
}

.site-header {
	background-color: pink;

}

.main {
	background-color: lime; 
}