/*
 * Comments are written as C++ style. 
 */
html {
    overflow-y: scroll;
}

body {
    margin: 8px auto;
    background: #fff;
    width: 700px;
}
#container {

    margin: 0 auto;
    width: 800px;
    height: 500px;
    border: 1px solid black;
}

element {
	text-align: center;
}

nav a {
	font-size: 24px;
	display: inline-block;
	padding: 4px;
	margin: 8px;
	border: 4px dotted aliceblue;
}

a:active{
	
}

.site-header {
	background-color: pink;

}

.main {
	background-color: lime; 
}

.duck{
    width: 128px;
    height: 128px;
    border : 1px solid black;
    background-image: url(../img/duck.jpg);
    background-size: 128px;
}

.left{
    float: left;
}

.right{
    float: right;
}